<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>BASE_URL_KEY</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>tong.visitkorea.or.kr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>TOURIST_SECRET_KEY</key>
	<string>$(TOURIST_SECRET_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareB.otf</string>
		<string>NanumSquareEB.otf</string>
		<string>NanumSquareR.otf</string>
		<string>NanumSquareL.otf</string>
	</array>
</dict>
</plist>
