//
//  Secret.xcconfig
//  TripLog
//
//  Created by gnksbm on 9/14/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = apis.data.go.kr
TOURIST_SECRET_KEY = veFUeSj%2Bb1d1Ix%2Fk%2BRPCh%2FlAcT7BKhzxxT6WKtSuv74N132ey9dDSREC1zTqFoLYP%2FfOEJHVG2%2FeeoSKwedLRw%3D%3D

INFOPLIST_PREPROCESSOR_DEFINITIONS = $(inherited) BASE_URL_KEY=$(BASE_URL)
