//
//  Secret.xcconfig
//  TripLog
//
//  Created by gnksbm on 9/14/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = apis.data.go.kr/B551011/KorService1
TOURIST_SECRET_KEY = veFUeSj+b1d1Ix/k+RPCh/lAcT7BKhzxxT6WKtSuv74N132ey9dDSREC1zTqFoLYP/fOEJHVG2/eeoSKwedLRw==

INFOPLIST_PREPROCESSOR_DEFINITIONS = $(inherited) BASE_URL_KEY=$(BASE_URL)
